:root {
  --primary-color: rgb(9, 89, 161);
  --hover-color: rgb(102, 171, 236);

  --white-color: #fff;
  --black-color: #000;

  --radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/* Toàn bộ scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track (nền) */
::-webkit-scrollbar-track {
  background: var(--primary-dark-color);
  /* xanh biển đậm */
}

/* Thumb (thanh kéo) */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 6px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

.hide {
  display: none !important;
}

@keyframes spinLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wrap-text {
  white-space: unset;
}