#map {
    width: 100%;
    height: calc(100vh - 50px);
}

/* Side bar */
#sidebar {
    width: 400px;
    height: calc(100vh - 50px);
    background-color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(0);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

#sidebar.collapsed {
    transform: translateX(-100%);
}

#toggle-sidebar {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    position: absolute;
    border-radius: 5px;
    right: -40px;
    top: 50px;
}

.tree-panel {
    min-height: 150px;
    height: 60%;
    overflow: auto;
}

.grid-panel {
    min-height: 150px;
    flex: 1;
    overflow: hidden;
    /* Prevent panel from scrolling */
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.table-container {
    flex: 1;
    overflow: auto;
}

/* DataTable Customization */
#deviceOnlineTable_wrapper {
    display: flex;
    /* flex-direction: column;
    height: 100%;
    overflow: hidden; */
}

.dataTables_scroll {
    display: flex;
    /* flex: 1;
    flex-direction: column;
    overflow: hidden; */
}

.dataTables_scrollBody {
    flex: 1 !important;
    height: auto !important;
}

table.dataTable {
    width: 100% !important;
    margin: 0 !important;
}

table.dataTable thead th,
table.dataTable tbody td {
    font-size: 12px;
    padding: 8px 10px !important;
    white-space: nowrap;
}

table.dataTable thead th {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6 !important;
    font-weight: 600;
}

table.dataTable thead>tr>th div.dt-column-header span.dt-column-title {
    font-size: 12px;
}

.splitter {
    height: 8px;
    cursor: row-resize;
    background: #ddd;
    position: relative;
}

.splitter::after {
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background: #666;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.splitter:hover {
    background: var(--primary-color);

    &::after {
        background: var(--white-color);
    }
}

.search input {
    width: 100%;
    padding: 10px;
    border-radius: var(--radius);
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 13px;
}

/* Vehicle Status */
.vehicle-status {
    padding: 5px;
}

.list-status {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.item-img {
    /* border: 1px solid #000; */
    padding: 5px;
    border-radius: 50%;
    position: relative;
}

.item .item-img img {
    height: 35px;
    width: 20px;
}

.item span {
    font-size: 11px;
    margin-top: 5px;
    font-weight: 600;
}

.item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: var(--white-color);
    padding: 6px;
    border-radius: 50%;
}

.item-count-vehicle {
    border: 1px solid #000;
}